*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.secao1{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f36e20;
  font-size: 24px;
  color: white;
  height: auto;
  width: 100%;
  padding: 20px;
  z-index: 10px;
}
a{
  text-decoration: none;
  color: white;
}
ul,li{
  list-style: none;
  display: flex;
  gap: 30px;
  
}
.secao2{
  height: 100vh;
  width: 100%;
  background-image: url(Green-Moss-Phot.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: none;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}
.secao2 h1{
  font-size: 48px;
} 
.secao2 h2{
  font-size: 28px;
}
.central{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}
.texto-central{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-bottom: -80px;
}
.secao-gestao{
  display: flex;
  width: 100%;
  text-align: center;
}
.secao-flex{
  display: flex;
  width: 680px;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 60px 10px;
}

.gestao h1{
  font-size: 32px;
}
.gestao p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.botao{
  background-color: #f36e20;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s ease;
}
.botao:hover{
  transform: scale(1.1);
}

.nature{
  height: auto;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.natureAmbiental{
  display: flex;
  width: 85%;
  margin: auto;
  align-items: center;
  padding: 60px 10px 60px 10px;
}
.nature1{
  display: flex;
  width: calc(50% - 20px);
  padding: 10px;
}
.textoNature h1{
  font-size: 32px;
}
.textoNature p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.imgMata{
  display: flex;
  width: calc(50% - 20px);
  padding: 10px;
}
.imgMata img{
  border-radius: 8px;
}
.secao4{
  height: auto;
  width: 100%;

}
.secao4-div{
  display: flex;
  width: 85%;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 60px 10px;
 text-align: center;
}
.secao4-div-1, .secao4-div-2, .secao4-div-3{
  display: flex;

width:calc(100% / 3 - 60px) ;
margin: 15px;
padding: 15px;
box-shadow: 2px 2px 10px 0px ;
border-radius: 15px;
background-color: white;
transition: transform 1.5s ease;

}
.secao4-div-1:hover, .secao4-div-2:hover, .secao4-div-3:hover{
  transform: scale(1.1);
}

.secao4-div img {
  object-fit: contain;
  border-radius: 8px;
} 

.secao4-div h3{
  padding: 20px 0px 0px 0px;
  font-size: 24px;
}

.footer {
  background: #f37021;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer div {
  margin: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.copyright {
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px;
}